aiohttp==3.9.5
applicationinsights==0.11.10
azure-ai-documentintelligence==1.0.0
azure-cosmos==4.9.0
azure-identity==1.19.0
azure-monitor-opentelemetry==1.6.4
azure-search-documents==11.5.2
azure-servicebus==7.13.0
azure-storage-file-datalake==12.17.0
botbuilder-core==4.16.2
botbuilder-schema==4.16.2
botframework-connector==4.16.2
fastapi==0.115.6
gunicorn==23.0.0
httpx==0.28.1
msrest==0.7.1
openai==1.58.1
openpyxl==3.1.5
pandas==2.2.3
pydantic-settings==2.7.1
pydantic==2.10.4
python-multipart==0.0.20
redis==5.2.1
uvicorn==0.34.0
